/* async typeahead */
#main-menu {
	padding: 20px;
	background-color: #ffffff;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.app {
	margin-top: 84px;
	padding-top: 20px;
}
.nav-logo {
	height: 30px;
}
#main-menu.nav {
	display: flex;
	margin-bottom: 0;
}
#home-page-bg {
	background-image: url("../src/images/momentista-reR1qazgsBM-unsplash.jpg");
	background-position: center;
	width: 100vw;
}
.search-bar {
	height: 53px;
	box-shadow: rgba(0, 0, 0, 0.15) 0 0 7px;
	border-radius: 27px;
	padding: 0 20px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	input {
		height: 100%;
		width: 380px;
		border: none;
		&:focus {
			border: none;
			box-shadow: none;
		}
		&::placeholder {
			color: #DC5456;
		}
	}
	button {
		height: 32px;
		width: 32px;
		border: none;
		background-color: transparent;
	}
}
.rbt {
	height: 100%;
}
.screen-height {
	height: 75vh;
}
.map {
	border: none;
	height: 300px;
}
.pill {
	border-radius: 24px;
	padding: 5px 15px;
	font-size: 0.8em;
	margin-right: 10px;
	background-color: #ffffff;
	color: #051079;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card-shadow {
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	overflow: hidden;
}
a {
	color: #DC5456;
	&:hover {
		color: #DC5456;
		text-decoration: none;
	}
}
.modal-content {
	border: none;
}
.btn-holidaze-primary {
	background-color: #DC5456;
	color: #ffffff;
	border: 2px solid #DC5456;
	&:hover {
		color: #DC5456;
		background-color: transparent;
	}
}
.btn-holidaze-tertiary {
	background-color: #FFC424;
	color: #ffffff;
	border: 2px solid #FFC424;
	&:hover {
		color: #FFC424;
		background-color: transparent;
	}
}
.btn-holidaze-secondary {
	background-color: #051079;
	color: #ffffff;
	border: 2px solid #051079;
	&:hover {
		color: #051079;
		background-color: transparent;
	}
}

.side-bar {
    background-color: #404040;
    height: 100vh;
    width: 25%;
    margin-top: -104px; // to remove the default padding and margin on .app class
    float: left;
    padding: 20px;

    .list-group-item {
        background-color: transparent;
        color: #ffffff;
        border: none;
        
        &:hover, &.active {
            background-color: #051079;
        }
    }
}

.admin-container {
    width: 75%;
    float: left;
}

.icon {
	width: 20px;
	height: 20px;
	margin-top: -3px;
}
.icon-small {
	width: 14px;
	height: 14px;
	margin-top: -3px;
}
#footer-menu {
	margin-top: 20px;
}

@media only screen and (max-width: 600px) {
	.search-bar {
		visibility: hidden;
	}
}
